<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input_id</title>
</head>
<body>
    <p>Please input your Goodreads ID. This can be found by navigating to your Goodreads profile.
        <br>The web address should look like "https://www.goodreads.com/user/show/<b>SOME NUMBERS HERE</b> (potentially a user name here)".
        The numbers are what you should input.</p>
</body>
</html>
<form action="/ids_and_input_data/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>